#       **`Data Types and Structures Questions`**

**Qno.1. What are data structures, and why are they important.**

-Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

Why are they important?

Choosing the right data structure significantly impacts the efficiency and performance of your program.
Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage.

**Qno.2.Explain the difference between mutable and immutable data types with examples.**

-Mutable Data Types:

Can be changed after creation.

Example:

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  # Now it's [1, 2, 3, 4]

Immutable Data Types:

Cannot be changed after creation.

Example:

In [ ]:
my_string = "hello"
my_string[0] = "H"  # ❌ Error: strings are immutable

Summary:
Mutable: list, dict, set

Immutable: int, float, str, tuple, bool

**Qno.3.What are the main differences between lists and tuples in Python?**

 -Main Differences Between Lists and Tuples in Python:

Feature	              List	                          Tuple

1.Mutability	    Mutable (can change)	          Immutable (cannot change)

2.Syntax	            [1, 2, 3]                           	(1, 2, 3)

3.Methods	Many     (like append())               	Fewer built-in methods

4.Speed	                Slower                            	Faster

5.Use Case	           Dynamic data	Fixed,               constant data

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)      # ✅ Works

my_tuple = (1, 2, 3)
my_tuple[0] = 10        # ❌ Error: Tuples are immutable

**Qno.4.Describe how dictionaries store data.**

- Dictionaries store data as key-value pairs.
Example:

In [ ]:
my_dict = {"name": "Alice", "age": 25}

Keys are unique and used to access the values.

Under the hood, dictionaries use a hash table, which allows fast lookups.

Structure:

In [ ]:
{
  key1: value1,
  key2: value2,
  ...
}

Example:

In [ ]:
person = {"name": "John", "age": 30}
print(person["name"])  # Output: John

**Qno.5. Why might you use a set instead of a list in Python.**

-might use a set instead of a list in Python for these key reasons:

1. No Duplicates:
Sets automatically remove duplicate values.

In [ ]:
my_set = {1, 2, 2, 3}  # Result: {1, 2, 3}

 2. Faster Membership Checking:

 Checking if an item exists is faster in sets than in lists.

In [ ]:
3 in my_set  # Fast

3. Set Operations:

Sets support useful math-like operations (union, intersection, difference).

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)  # Output: {3}

**Qno.6 What is a string in Python, and how is it different from a list.**
-What is a String in Python?

A string is a sequence of characters enclosed in quotes:
my_string = "Hello"
 Difference Between a String and a List:
Feature	         String	                   List
1.Data Type 	Text (characters)	    Any data types (mixed)
2.Mutable?	 Immutable (can't change)	 Mutable (can change)
3.Syntax	"Hello" or 'Hello'	 ["H", "e", "l", "l", "o"]
4.Use Case	 For working with text For storing a collection

Example:
s = "hello"
l = ["h", "e", "l", "l", "o"]

print(s[0])  # 'h'
print(l[0])  # 'h'

s[0] = "H"   #  Error: strings are immutable
l[0] = "H"   # Works: lists are mutable

**Qno.7.How do tuples ensure data integrity in Python.**

-How Tuples Ensure Data Integrity in Python:
Tuples are immutable, meaning their values cannot be changed after creation.

 This helps ensure data integrity by:

1.Preventing accidental changes

Once a tuple is created, its data stays the same.

In [ ]:
coords = (10, 20)
coords[0] = 15  #  Error!

2.Safe for use as keys in dictionaries or elements in sets

Since they can’t change, tuples can be used where a fixed, hashable value is required.

In [ ]:
locations = {(10, 20): "Park"}  #  Valid

3.Good for storing constant or fixed data
Ideal for data that shouldn't be modified, like dates, coordinates, config values, etc.

**Qno.8.What is a hash table, and how does it relate to dictionaries in Python.**

-A hash table is a data structure that stores data in key-value pairs and uses a hash function to map keys to their associated values quickly.

 How It Relates to Dictionaries in Python:
Python dictionaries are built using hash tables.

When you use a key in a dictionary, Python:

Hashes the key (using a hash function),

Finds the location in memory,

Stores or retrieves the value efficiently.

 Benefits:
Fast lookups, insertions, and deletions (on average O(1) time).

Keys must be hashable (immutable types like strings, numbers, and tuples).

In [ ]:
my_dict = {"apple": 1, "banana": 2}
print(my_dict["apple"])  # Fast lookup using hash table

**Qno.9.Can lists contain different data types in Python.**

-Yes, lists in Python can contain different data types.
Python lists are heterogeneous, meaning they can store a mix of data types in a single list.

 Example:

In [ ]:
my_list = [1, "hello", 3.14, True, [2, 3], {"a": 1}]
print(my_list)

**Qno.10.Explain why strings are immutable in Python.**

-Why Strings Are Immutable in Python:
Strings are immutable in Python, meaning once created, they cannot be changed.

 Reasons Why:
Efficiency:
Immutable objects can be stored and reused safely (e.g., in memory optimization and caching).

Hashing:
Strings are used as dictionary keys and must be hashable — which requires immutability.

Safety:
Prevents accidental changes in your code, especially when passing strings between functions.

**Qno.11.What advantages do dictionaries offer over lists for certain tasks.**

-Dictionaries allow fast access using keys.

They store data as key-value pairs, making it more readable.

Keys are unique, helping avoid duplicates.

Better for structured data where each item has a label.

Lists are slower for lookups and use index-based access only.

**Qno.12.Describe a scenario where using a tuple would be preferable over a list.**

-Scenario: Using Coordinates in a Map App
If you're storing fixed (latitude, longitude) coordinates for locations:

In [ ]:
location = (40.7128, -74.0060)  # New York City

Why a tuple is better:

The data is fixed and should not change.

Tuples are immutable, ensuring data integrity.

They are faster and use less memory than lists.

**Qno.13.How do sets handle duplicate values in Python.**

-How Sets Handle Duplicates in Python:
Sets automatically remove duplicate values.

When you create a set, only unique elements are kept.

Example:

In [ ]:
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)  # Output: {1, 2, 3}

Summary:

Sets ignore duplicates.

They are perfect for storing unique items only.

**Qno.14.How does the “in” keyword work differently for lists and dictionaries.**

-In lists, in checks if a value exists.

In dictionaries, in checks if a key exists.

It does not check values in a dictionary.

Example:

2 in [1, 2, 3] → True

'name' in {'name': 'Alice'} → True

'Alice' in {'name': 'Alice'} → False

**Qno.15.Can you modify the elements of a tuple? Explain why or why not.**

- No, ywe cannot modify the elements of a tuple.

 Why?
Tuples are immutable in Python.

Once created, their elements cannot be changed, added, or removed.

This helps ensure data integrity and allows tuples to be used as dictionary keys.

 Example:

In [ ]:
t = (1, 2, 3)
t[0] = 10  #  Error: 'tuple' object does not support item assignment

**Qno.16. What is a nested dictionary, and give an example of its use case.**

-A nested dictionary is a dictionary inside another dictionary.

Example:

In [ ]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

Use Case:

Used to store complex or grouped data, like:

Student records

User profiles

Product details in an inventory system

**Qno.17.Describe the time complexity of accessing elements in a dictionary.**

-Time Complexity of Accessing Elements in a Dictionary:
Average Case: O(1) → Constant time (very fast)

Worst Case: O(n) → Rare, happens if there's a lot of hash collisions

 Why so fast?
Dictionaries use a hash table, allowing direct access to values using their keys.

 Example:

In [ ]:
my_dict = {"a": 1, "b": 2}
print(my_dict["b"])  # Access in O(1) time

**Qno.18.In what situations are lists preferred over dictionaries.**

-Situations Where Lists Are Preferred Over Dictionaries:
Order matters (lists keep item order by position).

You need to store items without key-value pairs.

When index-based access is needed (e.g., list[0]).

You want to preserve duplicates.

Ideal for simple sequences like numbers, names, etc.

 Example:

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Output: banana

**Qno.19.Why are dictionaries considered unordered, and how does that affect data retrieval.**

- Why Dictionaries Were Considered Unordered:

In older versions of Python (before 3.7), dictionaries did not maintain insertion order.

Items were stored based on hash values, not position.

 How It Affects Data Retrieval:

Retrieval by key is fast (O(1)) and not affected by order.

You cannot access items by position like you do with lists.

 Since Python 3.7+:

Dictionaries preserve insertion order, but they’re still accessed by keys, not positions.

 Example:

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict["b"])  # Access by key, not order

**Qno.20.Explain the difference between a list and a dictionary in terms of data retrieval.**

- Difference Between List and Dictionary (Data Retrieval):

List:

Access data by index (position).

Example: my_list[0]

Slower lookup if searching for a value → O(n)

Dictionary:

Access data by key (name/label).

Example: my_dict["name"]

Very fast lookup by key → O(1) (average case)

# Practical Questions

1.Write a code to create a string with your name and print it.

In [ ]:
name="muzamil"
print(name)

muzamil

2.Write a code to find the length of the string "Hello World"

In [ ]:
len("hello world")

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
text="Python Programming"
text[:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
text=("hello")
text.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text="i like apple"
text.replace("apple","orange")

'i like orange'

6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [ ]:
7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lis=[1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
numbers=[1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
lis=['a', 'b', 'c', 'd']
second_element=lis[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers=[10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple=('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers=(10, 20, 5, 15)
min(numbers)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple=('dog', 'cat', 'rabbit')
my_tuple.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
elements={'a','b','c'}
print(elements)

{'b', 'a', 'c'}

In [ ]:
type(elements)

set

17.. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set= {1, 2, 3, 4, 5}
set.clear()
set

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set={1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set1={1, 2, 3}
set2={3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1= {1, 2, 3}
set2= {2, 3, 4}
set1.intersection(set2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person={"name":'muzamil',"age":22,"city":'shopian'}
print(person)

{'name': 'muzamil', 'age': 22, 'city': 'shopian'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person= {'name': 'John', 'age': 25}
person['country']='usa'
print(person)

{'name': 'John', 'age': 25, 'country': 'usa'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person={'name':'Alice','age':30}
person['name']

'Alice'

 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list=[1,2,1.1,'a','b',['a','b']]
my_tuple=(1,3,'h',)
my_dict={'name':'Muzamil','age':22,'city':'shopian'}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 1.1, 'a', 'b', ['a', 'b']]
(1, 3, 'h')
{'name': 'Muzamil', 'age': 22, 'city': 'shopian'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
numbers=[45,34,76,89,22]
numbers.sort()
print(numbers)

[22, 34, 45, 76, 89]

28.Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list=["muzamil","junaid","muneeb","apple"]
my_list[3]

'apple'

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
my_dict1={'name':"muzamil",'age':22}
my_dict2={'city':"shopian"}
combine=my_dict1|my_dict2
print(combine)

{'name': 'muzamil', 'age': 22, 'city': 'shopian'}

30.Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'apple', 'banana', 'cherry'}